<div class="row mt-4">
  <%= render partial: 'answers_section', locals: { question: @question, answers: @answers } %>

  <div class="col-md-4">
    <%= render partial: 'questions/video_items', collection: @videos, as: :link %>
  </div>
</div>
