<footer class="footer">
  <div class="container">
    <div>
      <p>&copy; <%= current_year %> TeachInterrogate</p>
      <p><%= t('footer.about') %></p>
    </div>
    <div>
      <p>GitHub: <%= github_url('Ivan-Sizyh', 'TechInterrogate') %></p>
    </div>
  </div>
</footer>