<nav>
  <div class="container">
    <%= link_to 'TeachInterrogate', vacancies_path, class: 'logo link-without-decoration' %></li>
    <%= link_to t('nav.questions'), vacancies_path, class: 'link link-without-decoration' %></li>
    <%= link_to t('nav.interviews'), vacancies_path, class: 'link link-without-decoration' %></li>
  </div>
</nav>
