<div class="card mt-3 mb-5">
  <div class="card-body">
    <p class="card-text"><strong>Ответ от <%= answer.responder %>:</strong></p>
    <p class="card-text"><%= raw(answer.text) %></p>
    <p class="card-text"><em>Дата ответа: <%= answer.response_date.to_date.strftime('%Y-%m-%d') %></em></p>
  </div>
</div>