body {
  display: flex;
  flex-direction: column;
  height: 100vh
}

p {
  margin: 0 0 0 0;
}

.link-without-decoration {
  text-decoration: none;
}

.field_with_errors {
  .form-control {
    border-color: red;
  }
  label {
    color: red;
  }
} 