nav {
  background-color: #3e3b34;
  height: 5rem;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 4rem;

  div {
    display: flex;
    align-items: center;
  }

  .link {
    color: #ffffff;
    transition: color 0.5s;
    margin: 0 1rem;
    font-size: 1.2em;
  }

  .link:hover {
    color: #959393;
  }

  .logo {
    color: #ffffff;
    transition: font-size 0.5s  ;
    margin: 0 1rem;
    font-size: 1.7em;
    font-weight: bold;
  }

  .no-bullet {
    list-style-type: none;
  }

  .dropdown-menu.show {
    right: 0px;
    left: auto;
  }
}