nav div {
  display: flex;
  align-items: center;
}

nav {
  background-color: #3e3b34;
  height: 5rem;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

.logo {
  color: #ffffff;
  transition: font-size 0.5s  ;
  margin: 0 1rem;
  font-size: 1.7em;
}

.navbar-link {
  color: #ffffff;
  transition: font-size 0.5s  ;
  margin: 0 1rem;
  font-size: 1.7em;
}

.navbar-link:hover {
  font-size: 1.8em;
}