.youtube-icon {
  width: 20px;
  height: 20px;
}

.youtube-list-item {
  display: flex;
  align-items: center;
  padding: 8px;

  & + & {
    border-top: 1px solid #ccc;
  }

  a {
    color: #515050;
    margin-left: 5px;
    transition: color 0.5s, font-weight 0.5s;
  }

  a:hover {
    color: #441212;
    font-weight: bold;
  }
}
